@import "tailwindcss/preflight.css";
@import "tailwindcss/theme.css";
@import "tailwindcss/utilities.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@utility btn {
  @apply bg-red-800 hover:bg-red-900 text-white m-4 py-2 px-4 rounded;
}

/* Hide the desktop content and show the mobile content by default (mobile-first) */
.desktop-only {
  display: none;
}

.mobile-only {
  display: block;
}

/* Styles when the screen width is at least 768px (Tailwind md breakpoint) */
@media (min-width: 768px) {
  /* Show the desktop content and hide the mobile content */
  .desktop-only {
    display: block;
  }

  .mobile-only {
    display: none;
  }
}